.container {
  width: 100%;
}
.container-wrapper {
  width: 50rem;
  height: 10rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
}
.container h1 {
  margin: 1rem;
  color: white;
  text-transform: capitalize;
}
.inputphone {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  outline: none;
  font-size: 1rem;
}
button {
  padding: 0.5rem 1rem;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
  }
}
.formotpinput h4 {
  color: white;
  text-transform: capitalize;
}
.input {
  display: flex;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
}
.input input {
  width: 3rem;
  height: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.5rem;

  &:focus {
    outline: none;
  }
}
