.container-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex-direction: column;
}
.upload-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 10rem;
  margin-top: 1rem;
  border: 1px solid black;
}
.upload-wrapper h3 {
  margin: 0.5rem;
  text-align: center;
}
.upload-wrapper input {
  margin: 0.5rem;
}
.upload-wrapper label {
  margin: 0.5rem;
}
.upload-wrapper p {
  margin: 0.5rem;
}
.upload-wrapper img {
  margin: 0.5rem;
}
.button button {
  text-align: center;
  padding: 0 1rem;
  font-size: medium;
  background-color: burlywood;
  outline: none;
  border: 1px solid;

  &:hover {
    cursor: pointer;
  }
}
